
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: grey;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.3);
}

#main-container {
	width: 100vw;
	height: 100vh;
}

#navbar {
	background: #00868b;
	min-height: 72px;
}

.dropdown-toggle::after {
	display: none;
}

.chat-list-item {
	background: white;
	cursor: pointer;
}

.chat-list-item:hover {
	background: hsl(0, 0%, 95%);
}

.chat-list-item:active {
	background: hsl(0, 0%, 85%);
}

.chat-list-item:focus {
	background: hsl(0, 0%, 90%);
	outline: none;
}

.chat-list-item .chat-details {
	width: 60%;
}

.chat-list-item.unread .name,
.chat-list-item.unread .last-message {
	font-weight: bold;
}

.chat-list-item .last-message,
#message-area #navbar #details {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#message-area {
	border-left: 1px solid white;
}

#message-area .overlay {
	background: hsl(0, 0%, 80%);
}

#input-area {
	background: hsl(0, 0%, 95%);
}

#input-area #input {
	outline: none;
}

#loader {display:none;}

.message-item {
	position:relative;
	max-width: 75%;
	word-break: break-word;
	border-radius:5px !important;
}
.message-item.self {
	background: #d5f5ec!important;
}
.message-item .number {
	color: #1f7aec !important;
}
.message-item .options {
	position: absolute;
	top: 0;
	right: -3px;
	opacity: 0;
	transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}
.message-item:hover .options {
	opacity: 1;
	right: 0;
}

#messages {
	flex: 1!important;
	background: #ECE5DD;
	overflow: auto;
}

.message-title {
	color: #333 !important;
	text-decoration: none;
}

.message-subtitle {
	color: #555 !important;
	text-decoration: none;
}

#available-users-panel {
	position: absolute;
	top: 0;
	left: -110%;
	background: hsl(0, 0%, 95%);
	transition: all 0.2s ease-in;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
}

#profile-pic {
	cursor: pointer;
	position: relative;
	width: 100%;
}

.profile-input {
	border-bottom: 2px solid transparent  !important;
	outline: none;
}

.profile-input:focus {
	border-bottom-color: hsl(0, 0%, 50%) !important;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.videoInsert {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    overflow: hidden;
}

.local-video-holder{
  position:fixed;
  bottom: 0;
  right: 0;
  margin:0;
  width:200px;
  height:150px;
  overflow: hidden;
}

.local-video-holder video{
  position: absolute;
  width: 200px !important;
  height: auto !important;
  transition: 1s opacity;
  z-index: 100;
}  

.remote-video-holder{
  position:fixed;
  margin:0;
  width: 450px;
  height: 550px;
  overflow: hidden;
}

.remote-video-holder video{
  position: absolute;
  width: 450px !important;
  height: auto !important;
  transition: 1s opacity;
  z-index: -1;
}

.image-holder{
    width: 250px;
    overflow: hidden;
}



.message-list {
    flex: 1 1 0; 
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
