/*---------chat window---------------*/
.container{
    max-width:900px;

}

.date_header{
  /*background-color:#add8e6; */
  text-align: center;
  /*border-radius: 25px;*/
  color: #808080;
  font-size: 14px;
  margin: 0 auto;
  /*width: 15%*/
 
}

.inbox_people {
	background: #fff;
	float: left;
	overflow: hidden;
	width: 30%;
	border-right: 1px solid #ddd;
}

.inbox_msg {
	border: 1px solid #ddd;
	clear: both;
	overflow: hidden;
}

.top_spac {
	margin: 20px 0 0;
}

.recent_heading {
	float: left;
	width: 40%;
}

.srch_bar {
	display: inline-block;
	text-align: right;
	width: 60%;
	padding:
}

.headind_srch {
	padding: 10px 29px 10px 20px;
	overflow: hidden;
	border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
	color: #0465ac;
    font-size: 16px;
    margin: auto;
    line-height: 29px;
}

.srch_bar input {
	outline: none;
	border: 1px solid #cdcdcd;
	border-width: 0 0 1px 0;
	width: 80%;
	padding: 2px 0 4px 6px;
	background: none;
}

.srch_bar .input-group-addon button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	padding: 0;
	color: #707070;
	font-size: 18px;
}

.srch_bar .input-group-addon {
	margin: 0 0 0 -27px;
}

.chat_ib h5 {
	font-size: 15px;
	color: #464646;
	margin: 0 0 8px 0;
}

.chat_ib h5 span {
	font-size: 13px;
	float: right;
}

.chat_ib p {
    font-size: 12px;
    color: #989898;
    margin: auto;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat_img {
	float: left;
	width: 11%;
}

.chat_img img {
	width: 100%
}

.chat_ib {
	float: left;
	padding: 0 0 0 15px;
	width: 88%;
}

.chat_people {
	overflow: hidden;
	clear: both;
}

.chat_list {
	border-bottom: 1px solid #ddd;
	margin: 0;
	padding: 18px 16px 10px;
}

.inbox_chat {
	height: 550px;
	overflow-y: scroll;
}

.active_chat {
	background: #e8f6ff;
}

.received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	max-width: 70%;
	min-width: 40%;

	background: #ebebeb none repeat scroll 0 0;
	border-radius: 7px 7px 7px 7px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	display: inline-block;
	word-wrap: break-word;
    white-space: normal
}

.status_msg_img{
 
  display: inline-block;
  position: relative;
  float: right;
  width: 20px;
}

.time_date {
	color: #747474;
	display: inline-block;
   	float: right;
	font-size: 12px;
	padding-right:3px; 


}

.time_date_l{
	color: #747474;
	float: left;
	font-size: 12px;
	margin: 2px 0 0;
	padding-right:3px; 
	padding-bottom: 20px

}

.received_withd_msg {
	width: 57%;
}

.mesgs{
	float: left;
	padding: 30px 15px 0 25px;
	width:70%;
}

.sent_msg {
	float: right;
	max-width: 70%;
	min-width: 40%;
	/*background:#dcf8c6; */
	background: #d5f5ec;
	/*display: block;*/
	border-radius: 7px 7px 7px 7px;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	color: #646464;

}

.outgoing_msg {
	overflow: hidden;
	padding-bottom: 4px;
}

.incoming_msg {
	overflow: hidden;
	padding-bottom: 4px;
}


.input_msg_write input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
	outline:none;
}

.type_msg {
	border-top: 1px solid #c4c4c4;
	position: relative;
}

.msg_send_btn {
	background: #00868b none repeat scroll 0 0;
	border:none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	height: 33px;
	position: absolute;
	right: 0;
	top: 11px;
	width: 33px;
}

.messaging {
	padding: 0 0 50px 0;
}

.msg_history {
	height: 516px;
	overflow-y: auto;
	right: 20px;
}

.circle {
    border-radius: 50%;

}
.circle img {
    border-radius: 50%;
    background-size: cover;
}
